.page{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top:0;
	background: black;
	z-index: 1;
	transition: all 300ms ease-out;
	overflow: hidden;
}
/***用户信息弹窗样式***/
.page.user {/*用户信息弹层一开始在页面的左侧*/
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

/*用户信息弹层进场状态*/
#user:checked~.user{
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

/***搜索弹窗样式***/
.page.search{/*一开始在主页面的上方隐藏*/
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	
}
#search:checked~.search{
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.page.search .right .fa{
	margin-left: 5px;
}

.page.search .right input{
	width: 419px;
}

/**弹出的共用头部**/
.page_head{
	padding-bottom: 16px;
	border-bottom: 1px solid #303030;
}
.page_head .left{
	float:left;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #b60005;
	border-radius: 50%;
	margin-left: 13px;
	margin-top: 20px;
}
.page_head .left .fa{
	color: white;
	margin-top: -4px;
	margin-left: -1px;
	font-size: 34px;
	vertical-align: middle;
}
.page_head .right {
	float: right;
	width: 532px;
	height: 49px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	border: 2px solid white;
	margin-right: 20px;
	margin-top: 19px;
}
.page_head .right button{
	padding-left: 15px;
	padding-top: 11px;
	background: none;
}
.page_head .right button .fa{
	font-size:29px;
	color: #FFFFFF;
}
.page_head .right input{
	line-height: 49px;
	font-size: 27px;
	color: #FFFFFF;
	width: 480px;
	border: none;
	background: none;
	padding: 0 17px;
	box-sizing:border-box;
}
.page_head .right input::-webkit-input-placeholder{/*控制input框中的提示语*/
	font-size:29px;
}
.page_body{
	position: relative;
	height: 100%;
	background: #f1f1f1;
}

/*弹出窗体的主体内容*/
.page_search_index{
	padding: 30px;
	height: 100%;
}
.page_search_index h2{
	font-size: 27px;
	color: #211d1d;
}

.page_search_index .keyword_list{
	margin-top: 16px;
	text-align: justify;/*把容器中的内容往左右两边平均分配间隔*/
}
.page_search_index .keyword_list a{
	display: inline-block;
	padding: 13px 18px;
	border: #e4e4e4 1px solid;
	background: #ffffff;
	margin-right: 8px;
	margin-bottom: 10px;
	color: #8b8b8b;
	font-size: 29px;
}

.page_search_list{/*搜索记录弹窗开始状态*/
	position: absolute;
	height: 100%;
	width: 100%;
	background: #f1f1f1;
	padding: 35px 30px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	left:0;
	top:0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition:all 300ms ease-out;
}
#page_search_list:checked ~.page_search_list{/*搜索记录弹窗结束状态*/
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.page_search_list .item{
	padding:23px 17px;
	background: white;
	color: #898989;
}

.page_search_list .item h2{
	font-size: 27px;
	color: #595757;
}
.page_search_list .item p{
	margin-top: 22px;
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 16px;
}
.page_search_list .item span{
	font-size:18px;
	margin-right:32px;
}


/*弹窗：登陆注册*/
.user .logo{
	margin-top: 91px;
	margin-left: 247px;
}












