@charset "utf-8";


.web{
	margin: 0 auto;
	width: 640px;
	height: 1091px;
	background: #222222;
	overflow: hidden;
}


.title{
	text-align: center;
}


.title img{
	width: 168px;
	height: 140px;
	margin-top: 192px;
	margin-bottom: 49px;
}

.login{
	width: 494px;
	margin-left: 73px;
}

.login .user{
	width: 494px;
	height: 54px;
	
}

.login .user .ule{
	float: left;
	width: 63px;
	height: 58px;
	background: #303030;
}

.login .user .ule i.fa{
	font-size: 30px;
	margin-top: 15px;
	margin-left: 20px;
}

.login .user .ur{
	float: right;
	width: 431px;
	height: 54px;
}

.login .user .ur input{
	height: 54px;
	width: 431px;
	text-align: center;
	color: white;
	background: #3d3d3d;
	border: 1px solid #3d3d3d ;
}


.login .pw{
	width: 494px;
	height: 54px;
	margin-top: 16px;
}

.login .pw .pwl{
	float: left;
	width: 63px;
	height: 58px;
	background: #303030;
}

.login .pw .pwl i.fa{
	font-size: 30px;
	margin-top: 15px;
	margin-left: 20px;
}

.login .pw .pwr{
	float: right;
	width: 431px;
	height: 54px;
}

.login .pw .pwr input{
	height: 54px;
	width: 431px;
	text-align: center;
	color: white;
	background: #3d3d3d;
	border: 1px solid #3d3d3d ;
}

.login .fg{
	width: 120px;
	height: 21px;
	margin-top:26px ;
	font-size: 21px;
	color: white;
	float: right;

}

.login .fg a{
	color: white;
}

.login .fg i.fa{
	width: 20px;
	border: 1px solid white;
	border-radius: 50%;
}

.login .fg i.fa span{
	font-size: 20px;
	margin-left: 4px;
}

.an{
	width: 493px;
	text-align: center;
	margin-left: 73px;
}

#denglu{
	margin-top: 60px;
	background: red;
	color: white;
	border: 1px solid red;
	width: 100%;
	height: 55px;
}

#zhuce{
	background: #303030;
	color: white;
	border: 1px solid red;
	width: 100%;
	height: 55px;
	margin-top: 14px;
}
